<section class="my-projects">

    <div class="bar">

        <div class="wrapper">

            <a routerLink="/contact-me" class="chevron" >

                <fa-icon [icon]="faChevronCircleRight" size="3x"></fa-icon>
            
            </a>

        </div>

    </div>

    <div class="container center">

        <div class="wrapper">

            <a *ngFor="let project of Projects" [routerLink]="['/project', project.id]" class="project" >

                <div class="alpha">

                    <span>

                        {{project.name}}

                    </span>

                </div>

                <img src={{project.image}} alt={{project.name}} />

            </a>

        </div>

    </div>

</section>

