<section class="contact-me">

    <div class="container top">

        <div class="wrapper topWrapperAnimation">

            <h1>{{ContactMePage?.title}} <span>{{ContactMePage?.orangeTitle}}</span></h1>

        </div>


    </div>

    <div class="container center">

        <div class="wrapper">

            <form name="form" [formGroup]="form" (submit)="handleSubmit()" >

                <label *ngFor = "let field of formFields" [ngClass]="(field.error)? field.type+' incorrect' : field.type" >

                <textarea 
                    *ngIf="(field.type === 'textarea'); else Input" 
                    [placeholder]="field.text"
                    [name]="field.name" 
                    [formControlName] ="field.name" 
                    (focus)="handleFocus(field.name)" 
                    (focusout)="checkField(field.name)" 
                ></textarea>
                <ng-template #Input>
                    <input 
                        [placeholder]="field.text"
                        [name]="field.name" 
                        [formControlName] ="field.name" 
                        [type]="field.type"
                        (focus)="handleFocus(field.name)" 
                        (focusout)="checkField(field.name)" 
                    />
                </ng-template>

                <fa-icon *ngIf="field.error" [icon]="faTimesCircle"  class="error-field" size="1x"></fa-icon>

                </label>

                <button type="submit" class="chevron" >

                    <fa-icon [icon]="faChevronCircleRight" size="3x"></fa-icon>

                </button>

            </form>

            <div class="infoBar" *ngIf="infoBar.length > 0" >{{infoBar}}</div>

        </div>

    </div>

</section>