<header>

    <nav [ngClass]="{'mobile-menu-nav': mobileMenu}">

        <div class="burger-nav" (click)="switchMobileMenu(true)" >

            <span></span>
            <span></span>
            <span></span>

        </div>

        <ul class="menu-nav" (click)="switchMobileMenu(false)" >

            <li *ngFor="let item of menuContent" [id]="item.id" class="menu-nav_item">

                <a class="menu-nav_link" [routerLink]="item.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"   >{{item.text}}</a>

            </li>

        </ul>

    </nav>

</header>
