$dark-color: #0E2125;
$orange-color: #ff652f;
$bright-color: #f2f2f2;

@mixin hover-transition {
    transition: all 200ms ease-in-out;
}

@mixin enter-transition {
    transition: all 400ms ease-out;
    transition-delay: 400ms;
}

@mixin exit-transition {
    transition: all 400ms ease-in;
}

@mixin flex($flow:row wrap, $justify:center, $aling:center) {

    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $aling;
  
}

$window-widths: (

  1: 1100px,
  2: 900px

);

@function getWindowWidth($width_number) {

    @return map-get($window-widths, $width_number);

}

@mixin widthRow() {

    width: 60vw;

    @media (max-width: getWindowWidth(1)) {
        width: 70vw;
    }
    @media (max-width: getWindowWidth(2)) {
        width: 90vw;
    }

}

