

@import "reset";
@import "config";
@import "header";
@import "pages";
// @import "pages-animations";
@import "home";
@import "about-me";
@import "my-projects";
@import "project";
@import "contact-me";
@import "background";
@import "footer";

html{

  font-size: 16px;

  @media (max-width: getWindowWidth(2)) {

    font-size: 14px;
    
  }

}

body {

  color: $bright-color;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  overflow: hidden;

}


a {

  color: $bright-color;
  text-decoration: none;
  outline: none;

}



 